@page "/ascendente"


<h3>Odenar los numeros</h3>
<div>
    <label>Ingrese un numero aleatorio:</label>
    <input type="number" @bind-value="@Numero1" />
    <label>Ingrese un numero aleatorio:</label>
    <input type="number" @bind-value="@Numero2" />
    <button @onclick="Calcular"> calcular</button>

</div>
<div>

    <h5>
        los numeros ingresados son: @Numero1 , @Numero2
    </h5>

    <div>el orden en forma ascendente es la siguiente: @Resultado, @Resultado2 </div>

</div>

@code {
    [Parameter]
    public int Numero1 { get; set; }
    public int Numero2 { get; set; }
    public int Resultado { get; set; }
    public int Resultado2 { get; set; }


    void Calcular()
    {
        @if (Numero1 < Numero2)
        {
            Resultado = Numero1;
            Resultado2 = Numero2;
        }
        else
        {
            Resultado = Numero2;
            Resultado2 = Numero1;


        }



    }

}