@page "/minusculas"


<h2>transformador palabras en mayúsculas a minúsculas.</h2>
<div>
    <label>Ingrese porfavor la palabra que quieras conveertir:</label>
    <input type="text" @bind-value="@Palabra" />
    <button @onclick="Convertir"> Convertir</button>
</div>
<div>
    <h5>
        El texto ha sido convertido a minuscula  @Minuscula
    </h5>
</div>

@code {
    [Parameter]
    public string Palabra { get; set; }
    public string Minuscula { get; set; }

    void Convertir()
    {
        Minuscula = Palabra.ToLower();

    }
}