@page "/supermercado"


<h3>Supermercado Salazar    </h3>
<div>
    <label>Ingrese el total de la compra:</label>
    <input type="number" @bind-value="@Dinero_Compra" />
    <label>Ingrese un numero de dos digitos alazar para poder obtener sy descuento correspondiente:</label>
    <input type="number" @bind-value="@NumeroAlazar" />
    <button @onclick="Calcular"> calcular</button>

</div>
<div>
    <h5>
        la compra total es de @Dinero_Compra y el numero elegido @NumeroAlazar
    </h5>

    <div>el total a pagar por la compra $ @Dinero_Compra -  @Descuento el descuento obtenido fue de @DescuentoObtenido%</div>

    <div>el descuento aplicado es $ @total</div>
</div>

@code {
    [Parameter]
    public int NumeroAlazar { get; set; }
    public double Descuento { get; set; }
    public double DescuentoObtenido { get; set; }
    public int Dinero_Compra { get; set; }
    public double total { get; set; }
    public string error { get; set; }


    void Calcular()
    {
        @if (NumeroAlazar < 100 && NumeroAlazar > 73)
        {
            Descuento = Dinero_Compra * .20;
            DescuentoObtenido = 20;
            total = Dinero_Compra - Descuento;
        }
        else
        {
            if (NumeroAlazar < 10 || NumeroAlazar >= 100)
            {
                error = "error solo dijitos de dos numeros";
            }
            else
            {
                Descuento = Dinero_Compra * .15;
                DescuentoObtenido = 15;
                total = Dinero_Compra - Descuento;
            }


        }

    }

}